

html
{
	background-color:red;
	height:100%;
	width:100%
	
}


body {
	background-color: red;
	height: 100%;
	width: 85%;
	
}

.container {
	
	background-color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	
	
	
}

.card

{
	height:150px;
	width:150px;
	//background-color: #f1f1f1;
	margin: 10px;
	background-image: url(legopattern.jpg);
	font-size: 8em;
	text-align:center;


}

.selected
{
	color: Yellow;
}
